
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    max-width: 1920px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    height: 100vh;
}

.main-container{
   
   height: 320px;
   width: 470px;
   border: none;
   box-shadow: 5px 5px 10px #00000040;
   border-radius: 10px;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   

   & > h1{
    text-align: center;
    margin-top: 10px;
   }

   & > button{
    align-self: center;
    width: 120px;
    height: 30px;
    border-radius: 8px ;
    border: none;
    box-shadow: 0 0px 10px #00000040;
    cursor: pointer;
    transition: 0.3s ease-in-out;
   }
   & > button:hover{
    background-color: rgba(243, 218, 145, 0.778);
   }
   
}

.box-container{
    
    display: flex;
    justify-content: space-around;
    
    
}

#box-1, #box-2 , #box-3{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  
    height: 100px;
    width: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 10px #00000040;
    transition: 0.3s ease-in-out;

    & > img{
        width: 45%;
    }

    & > p{
        font-size: 0.9rem;
        cursor: pointer;
    }

}

 #box-3:hover{
    background-color: bisque;
    box-shadow: 0 2px 10px #00000040;
}
 #box-2:hover{
    background-color: bisque;
    box-shadow: 0 2px 10px #00000040;
}
 #box-1:hover{
    background-color: bisque;
    box-shadow: 0 2px 10px #00000040;
}

@keyframes shake {
    0%  { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-2px); }
    100% { transorm :translateX(0); }
  }
  
  .shake {
    animation: shake 0.5s;
  }
  


